<h1> Create a new Post </h1>

<% if @post.errors.any? %>
  <div id="error explanation">
  <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being created</h4>
  <ul>
    <% @post.errors.each do |error| %>
      <li><%=error.full_message %></li>
    <% end %>
  </ul>
  </div>
<% end %> 

<%= form_with model: @post do |form| %>
  <%= form.label :title, "Post Title:" %>
  <%= form.text_field :title, placeholder: "Title goes here" %>
  <br><br>
  <%= form.label :body, "Post Body:" %>
  <%= form.text_area :body%>
  <br><br>
  <%= form.submit "Create" %>
<% end %>